<div class="container pt-4 mb-5">
  <h1>
    <%= title %>
  </h1>
  <% if(articles.length===0){ %>
    <h1>No search results</h1>
    <% }else{ %>
      <div class="row g-3">
        <% articles.forEach((item)=> { %>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card p-0">
              <img src="<%=item.urlToImage %>" class="card-img-top" alt="..." style="object-fit: cover; height:
      300px;">
              <div class="card-body">
                <h5 class="card-title">
                  <%= item.title %>
                </h5>
                <p class="card-text">
                  <%= item.description %>
                </p>
                <div class="row">
                  <div class="col">
                    <a href="<%= item.url %>" target="_blank" class="btn btn-outline-dark">Read More</a>
                  </div>
                  <div class="col">
                    <p style="font-size: 0.7rem;" class="mb-0"> Published at <%= item.publishedAt.slice(0,10) %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
      <% } %>


</div>